.cartContainer {
    display: flex;
}

.cartContainer .dontMove {
    width: 70%;
}
.cartContainer .checkoutSection {
    padding: 0.5% 0.5% 1% 1%;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    height: 100vh;
    height: 100vh;
    position: fixed;
    background-color: whitesmoke;
    z-index: 100;

}
.cartContainer .checkoutSection header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    margin: 3%;
    border-bottom: 1px solid black;
}
.cartContainer .checkoutSection header h1{
    font-weight: 600;
}
.cartContainer .checkoutSection .cartInfo{
    display: flex;
    width: 25%;
}
.cartContainer .checkoutSection .cartInfo h1{
    padding-right: 3%;

}
.cartContainer .checkoutSection .cartInfo span {
    margin: 1%;
    border: 1px solid  whitesmoke;

}
.cartContainer .checkoutSection .cartInfo span:hover{
    border: 1px dotted black
}
.cartContainer .checkoutSection h6{
    padding:3%;
    font-size: 15px;
}
.cartContainer .checkoutSection main{
    height: 55vh;
    overflow: scroll;
}
.cartContainer .checkoutSection main .cartItem{
   display: flex;
   justify-content: space-between;
   padding: 3% 0;
}
.cartContainer .checkoutSection > section div{
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    margin-bottom: 1%;
}
.cartContainer .checkoutSection > section div:first-child{
    background-color: rgb(238,238,238);
}
.cartContainer .checkoutSection footer{
    margin: 2% 0;
}
.cartContainer .checkoutSection footer{
    margin: 2% 0;
}