html {
    scroll-behavior: smooth;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border:solid 1px black;
    background-color: transparent;
}
header nav a {
    color: black;
}
header .banner{
background-color: black;
color: white;
font-size: 14px;
padding: 0.5%;
text-align: center;
}

header nav .rightSide, header nav .leftSide{
    /* width: 0%; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
header nav .h1 {
    margin-right: 4%;
}

header nav div a{
    padding: 0 2%;
}
header .searchContainer {
    width: 100%;
    padding: 3% 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .searchContainer input{
    width: 40%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
header .searchContainer a {
    margin:0 1%;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
header .searchContainer .close {
    font-size: 25px;
    font-weight: 100;
}
header ul {
    margin: 2%;
    list-style-type: none;
    text-align: center;
}
header ul li {
    margin: 2%;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
header ul li:hover {
    text-decoration: underline dotted;
}
.sticky {
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: whitesmoke;
    z-index: 150;
}
.sticky a {
    color: whitesmoke;
}
